/*************** Reset *********************/
img {
  width: 100%;
}
* {
  margin: 0;
}
/*************** Reset ************/

/**** Hvem er jeg grid****/
.about_text h2 {
  margin-top: 0;
}

.grid_about {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 900px) {
  .grid_about {
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kolonner: en til tekst og en til billede */
    margin: 0 auto;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    gap: 30px;
    align-items: center; /* Centrerer tekst vertikalt */
  }
}

/* Grid Lulu Alva */
@media (min-width: 900px) {
  .grid_about_lulu {
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kolonner: en til tekst og en til billede */
    margin: 0 auto;
    align-items: center; /* Centrerer tekst vertikalt */
  }
}

/* Bytter rækkefølgen i computer size */
.lulu_text {
  order: 2; /* Flytter teksten til kolonne 1 */
}

.grid_about_lulu img {
  order: 1; /* Flytter billedet til kolonne 2 */
}

@media (min-width: 900px) {
  .grid_about_alva {
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kolonner: en til tekst og en til billede */
    margin: 0 auto;
    align-items: center; /* Centrerer tekst vertikalt */
  }
}

.alva_text,
.lulu_text {
  margin-top: 5rem; /* Tilføj luft over h3 på mobil */
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Fjern margin-top på større skærme */
@media (min-width: 900px) {
  .alva_text,
  .lulu_text {
    margin-top: 0; /* Fjerner ekstra afstand på desktop */
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

/**** Hvem er jeg****/
