/*************** Reset *********************/
html,
body {
  width: 100%;
  overflow-x: hidden; /* fjern horisontal scroll */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/*************** Reset ************/

/**** Hvem er jeg grid****/
.about_text h2 {
  margin-top: 0;
}

.grid_about {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 900px) {
  .grid_about {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    gap: 30px;
    align-items: center; /* Centrerer tekst vertikalt */
  }
}

.grid_about_photo {
  display: grid;
  grid-template-columns: 1fr; /* mobil: en kolonne */
  gap: 30px;
  margin: 2rem 1rem;
}

.grid_about_photo img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 900px) {
  .grid_about_photo {
    grid-template-columns: repeat(3, 1fr); /* desktop: tre kolonner */
    margin: 4rem 4rem 0;
  }
}
