.grid_om_mig_3 {
  display: grid;
  margin-top: 5rem;
  gap: 30px;
  grid-template-columns: 1fr;
}

.haandskrift_2 {
  font-family: "League Script", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.programmer_about {
  margin-top: 5rem;
  text-align: center;
}

.grid_programmer {
  margin-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.grid_programmer img {
  max-width: 60px;
  height: auto;
}

/*******About grid*******/

@media (min-width: 800px) {
  .grid_om_mig_2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kolonner: en til tekst og en til billede */
    gap: 30px;
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 5rem;
  }
}

@media (min-width: 800px) {
  .grid_om_mig_3 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kolonner: en til tekst og en til billede */
    gap: 30px;
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 5rem;
  }
}

/****Programmer grid******/

@media (min-width: 800px) {
  .grid_programmer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tre kolonner */
    gap: 40px;
    align-items: start; /* Justerer indholdet til starten af hver kolonne */
  }
}
