/*************** Reset *********************/
img {
  width: 100%;
}
* {
  margin: 0;
}
/*************** Reset ************/

/***** Hero image *****/
.hero_image {
  position: relative; /* Gør det muligt at positionere elementer inde i containeren */
  height: auto;
}
/***** Hero image ******/

/***** portfolio collage*****/
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

@media (min-width: 700px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    display: flex;
  }
}
/***** portfolio collage*****/

/*******Portfolio text overlay**********/

.billede_collage {
  position: relative; /* For at placere teksten korrekt */
}

.text_overlay {
  position: absolute; /* Placerer teksten over billedet */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Justerer for præcis centrering */
  font-family: "Roboto", serif;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding: 10px 20px;
}

.large_number {
  font-size: 3rem; /* Større tekst for tallet */
  margin-bottom: 0.5rem;
}

/*******Portfolio text overlay**********/

/*******Omg mig forside *******/

.billede_med_skraaskrift {
  position: relative; /* For at placere overlayet korrekt */
}

.haandskrift {
  position: absolute; /* Placerer teksten over billedet */
  top: 77%;
  left: 36%;
  transform: rotate(-20deg); /*roterer teksten */
}
/*******Omg mig forside *******/
