/*************** Reset *********************/
img {
  width: 100%;
}
* {
  margin: 0;
}
/*************** Reset ************/

/***** Hero image *****/
.hero_image {
  position: relative;
  height: auto;
  overflow: hidden; /* Skjul alt uden for containeren */
  background-size: cover; /* Sørg for, at billedet dækker hele containeren */
  margin-bottom: 3rem;
  filter: brightness(90%);
}

@media (min-width: 750px) {
  .hero_image {
    height: 90vh; /* Reducer højden yderligere på større skærme */
    margin-bottom: 4rem;
  }
}
/***** Hero tekst *****/
.hero_text {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Placerer teksten i toppen */
  justify-content: flex-start; /* Placerer teksten til venstre */
  padding: 5%;
}

.hero_text h1 {
  color: black;
  font-family: "Roboto", serif;
  font-weight: 600;
  font-size: clamp(1.2rem, 3vw, 2.5rem); /* Mindre, men stadig responsiv */
  text-align: left; /* Venstrestillet tekst */
  width: 80%; /* Fylder hele bredden */
}

.hero_text p {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 1.6rem); /* Lidt mindre end h1 */
  text-align: left;
  width: 80%;
  line-height: 1.4; /* Bedre læsbarhed */
}

@media (max-width: 600px) {
  .hero_text p {
    display: none; /* Skjul hero teksten på små skærme */
  }
}
/***** Hero tekst *****/
/***** Hero image ******/

/***** portfolio collage*****/
.services {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 850px) {
  .services {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 6rem;
  }
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 4rem;
}

@media (min-width: 850px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
  }
}

.billede_collage {
  position: relative;
  width: 100%; /* Fylder hele grid-kolonnen */
  aspect-ratio: 4 / 4; /* Gør billederne mindre i højden */
  overflow: hidden;
}

.billede_collage img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Sørger for, at billeder ikke bliver strukket */
}

.text_overlay {
  position: absolute; /* Placerer teksten over billedet */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Justerer for præcis centrering */
  font-family: "Roboto", serif;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding: 10px 20px;
  pointer-events: none; /* Gør at teksten ikke blokere linket*/
}

/* Hover-effekt for billede */
/* Standardtilstand - effekten er aktiv */
.billede_collage img {
  filter: blur(0.5px) brightness(75%);
  opacity: 0.8;
  transition: filter 0.3s ease, opacity 0.3s ease;
}

/* Når du hover over billedet, fjernes effekten */
.billede_collage:hover img {
  filter: none;
  opacity: 1;
}
/* Hover-effekt for billede */

/***** portfolio collage*****/
