/*************** Reset *********************/
img {
  width: 100%;
}
* {
  margin: 0;
}
/*************** Reset ************/

/* H3 - portfolio */
.h3_portfolio {
  margin-top: 4rem;
}

@media (min-width: 750px) {
  .h3_portfolio {
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 4.5rem;
  }
}
/* H3 - portfolio */

/*******Portfolio grid*******/

/* Billederne skal fylde hele containeren uden at blive forvrænget */
.grid_tema2 img,
.grid_tema3 img,
.grid_tema4 img,
.grid_tema5 img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Sørger for at billeder fylder containeren uden at blive forvrænget */
}

/****Grid billedecollage tema4 (mobil)****/
.grid_tema4_billeder1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.grid_tema4_billeder2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}
/****Grid billedecollage tema4 (mobil)****/

/*****Grid temaer*****/
/*Tema2*/
@media (min-width: 750px) {
  .grid_tema2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kolonner: en til tekst og en til billede */
    gap: 30px;
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: 900px;
    margin: 0 auto;
  }
}

/*Tema3*/
@media (min-width: 750px) {
  .grid_tema3 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kolonner: en til tekst og en til billede */
    gap: 30px;
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: 900px;
    margin: 0 auto;
  }
}

/*Tema4*/
@media (min-width: 750px) {
  .grid_tema4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: 900px;
    margin: 0 auto;
  }
}

/*Tema5*/
@media (min-width: 750px) {
  .grid_tema5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: 900px;
    margin: 0 auto;
  }
}

.tekst2_tema5 {
  grid-column: 2; /* Placeres i kolonne 2 */
  grid-row: 2; /* 2. række */
}

.billede2_tema5 {
  grid-column: 1; /* Placeres i kolonne 1 */
  grid-row: 2; /* 2. række */
}
/*****Grid temaer*****/
/*******Portfolio grid*******/

/*******Button portfoliosite*********/
@media (min-width: 750px) {
  .button_container {
    display: flex;
    justify-content: flex-start; /* Venstrejusterer på store skærme */
    align-self: end; /* Sørger for, at containeren placeres i bunden af sit grid-element */
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: 900px;
    margin: 0 auto; /* Centrerer containeren horisontalt */
  }
}
/*******Button portfoliosite*********/
