/*************** Reset *********************/
html,
body {
  width: 100%;
  overflow-x: hidden; /* fjern horisontal scroll */
  box-sizing: border-box;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/*************** Reset ************/

/*******services grid*******/

/* Billederne skal fylde hele containeren uden at blive forvrænget */
.grid_services1 img,
.grid_services2 img,
.grid_services3 img,
.grid_services4 img {
  width: 100%;
  aspect-ratio: 4 / 4; /* Gør billederne mindre i højden */
  object-fit: cover; /* Sørger for at billeder fylder containeren uden at blive forvrænget */
}

/*****Grid services*****/

.grid_text,
.grid_text_4,
.grid_text_2 h3 {
  margin-top: 3rem; /* Tilføj luft over h3 på mobil */
}

.grid_text,
.grid_text_4,
.grid_text_2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 850px) {
  .grid_text,
  .grid_text_4,
  .grid_text_2 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

.view_project {
  text-decoration: underline;
}

/* Fjern margin-top på større skærme */
@media (min-width: 850px) {
  .grid_text,
  .grid_text_4,
  .grid_text_2 h3 {
    margin-top: 0; /* Fjerner ekstra afstand på desktop */
  }
}
/*Services1*/
@media (min-width: 850px) {
  .grid_services1 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kolonner */
    margin: 0 auto;
    align-items: center; /* Centrerer tekst vertikalt */
  }
}

/*Services2*/
@media (min-width: 850px) {
  .grid_services2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kolonner: en til tekst og en til billede */
    margin: 0 auto;
    align-items: center; /* Centrerer tekst vertikalt */
  }

  /* Bytter rækkefølgen i computer size */
  .grid_text_2 {
    order: 2; /* Flytter teksten til kolonne 2 */
  }

  .grid_services2 img {
    order: 1; /* Flytter billedet til kolonne 1 */
  }
}

/*Services3*/
@media (min-width: 850px) {
  .grid_services3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    align-items: center; /* Centrerer tekst vertikalt */
  }
}

/*Services4*/
@media (min-width: 850px) {
  .grid_services4 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kolonner: en til tekst og en til billede */
    margin: 0 auto;
    align-items: center; /* Centrerer tekst vertikalt */
  }

  /* Bytter rækkefølgen i computer size */
  .grid_text_4 {
    order: 2; /* Flytter teksten til kolonne 2 */
  }

  .grid_services4 img {
    order: 1; /* Flytter billedet til kolonne 1 */
  }
}

/*****Grid temaer*****/
/*******Portfolio grid*******/
