/*************** Reset *********************/
img {
  width: 100%;
}
* {
  margin: 0;
}
/*************** Reset ************/

/****Body*****/
body {
  background-color: #f0f3ec;
}
/****Body*****/
/*****************Main***********/
main {
  max-width: 1200px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
/*****************Main***********/
/** Farver **/
:root {
  --background: #f0f3ec;
  --red: #bc1307;
  --d_grey: #343333;
}
/** Farver **/

/***Fonte***/

h2 {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 2rem;
  color: var(--d_grey);
}

p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-family: "Roboto", serif;
  font-weight: 200;
  font-size: 1rem;
  color: var(--d_grey);
}

/***Fonte***/
/******** Header ********/
header {
  display: flex; /*Child elementerne bliver placeres i en række eller kolonne*/
  padding: 30px; /*højden på headeren*/
  background-color: var(--background);
  justify-content: end; /*Child elementerne bliver placeres i enden*/
}

.menu a {
  padding: 10px; /*mellemrummet mellem teksten*/
  color: var(--d_grey);
  text-decoration: none;
  font-family: "Roboto", serif;
  font-weight: 200;
  font-size: 1rem;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
/***Logo***/
.logo {
  margin-right: auto;
  position: absolute;
  top: 16px;
  left: 10px;
  width: 60px;
}
/***Logo***/
/******** Header ********/
