/*************** Reset *********************/
html,
body {
  width: 100%;
  overflow-x: hidden; /* fjern horisontal scroll */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*************** Reset ************/
/** Farver **/
:root {
  --background: #ffffff;
  --red: #a52112;
  --d_grey: #000000;
}
/** Farver **/

/***Fonte***/
h1 {
  text-align: center;
  margin-top: 1rem;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--d_grey);
  text-decoration: none;
}
h2 {
  margin-bottom: 0rem;
  margin-top: 2rem;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 2rem;
  color: var(--d_grey);
}

h3 {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--d_grey);
}
h4 {
  margin-top: 0rem;
  margin-bottom: 0.8rem;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--d_grey);
}

.service_p {
  max-width: 800px; /* Begrænser bredden, så teksten ikke fylder hele skærmen */
}
.haandskrift {
  font-family: "League Script", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-family: "Roboto", serif;
  font-weight: 300;
  font-size: 1rem;
  color: var(--d_grey);
  line-height: 1.7;
}

.p_bold {
  font-family: "Roboto", serif;
  font-weight: 500;
}

.p_bold_tools {
  font-family: "Roboto", serif;
  font-weight: 500;
  margin-bottom: 0;
}

/***Fonte***/

/****Body*****/
body {
  background-color: var(--background);
}
/****Body*****/
/*****************Main***********/
/*
main {
  max-width: 1200px;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
/*****************Main***********/

/******** Header ********/
header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 35px;
  background-color: var(--background);
  justify-content: space-between; /* Placerer elementer korrekt */
  z-index: 3000;
  margin-bottom: 1rem;
}

/*** Logo (forbliver på venstre side) ***/
.logo {
  position: absolute;
  top: 16px;
  left: 10px;
}

.logo img {
  max-width: 100%; /* Sørger for, at billedet ikke overstiger forældrecontainerens bredde */
  width: 220px; /* Standardstørrelse */
  height: auto; /* Bevarer billedets proportioner */
}

/*** Logo ***/

/*** Navigation ***/
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 50px; /* Placer menuen i venstre side */
}

.menu a {
  padding: 10px;
  color: var(--d_grey);
  text-decoration: none;
  font-family: "Roboto", serif;
  font-weight: 300;
  font-size: 1rem;
}

/***** Hover på menu *****/
.menu a:hover {
  text-decoration: underline;
}
.menu a.active {
  text-decoration: underline;
}
/***** Hover på menu *****/

/*** Burger-menu knap (mobil) ***/
.burger-menu {
  display: none; /* Skjult på store skærme */
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--d_grey);
}

/*** Mobil-visning ***/
@media (max-width: 768px) {
  .menu {
    display: none; /* skjult som udgangspunkt */
    flex-direction: column;
    padding-top: 6rem;
    align-items: center;
    gap: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    z-index: 10000;
  }

  .menu.show {
    display: flex; /* Vis menu når show-klassen tilføjes */
  }

  .menu li {
    text-align: center;
    padding: 15px;
  }

  .burger-menu {
    display: block; /* Vis burger-menu knappen */
    z-index: 10000;
  }
}

/*******Ux/ui elementer *******/
/*General knap:*/
.button_container {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.button {
  background-color: transparent;
  color: var(--d_grey);
  font-family: "Roboto", serif;
  font-size: 16px;
  padding: 10px 20px; /* Gør knappen større */
  border: 1px solid #343333; /* Firkantet ramme */
  text-decoration: none;
}

.button:hover {
  color: var(--red);
  border-color: var(--red);
}
/*General knap:*/
/*******ux/ui elementer *******/

/**************footer************/
footer {
  width: 100%;
  margin: 0;
  margin-top: 3rem;
  overflow-x: hidden; /* Skjuler eventuel horisontal scroll */
  position: relative; /* For at logoet kan placeres absolut i forhold til footeren */
  margin-bottom: 2rem;
}

footer a {
  font-family: "Roboto", serif;
  font-weight: 200;
  font-size: 0.6rem;
  color: var(--d_grey);
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 0.6rem;
  color: var(--d_grey);
  padding-left: 1rem;
  padding-right: 1rem;
}

.grid_1-1-1_footer {
  display: flex;
  justify-content: center; /* Centrerer indholdet horisontalt */
  align-items: center; /* Justerer indholdet vertikalt */
  gap: 5%; /* Afstand mellem elementerne */
  text-align: center; /* Sørger for at teksten er centreret */
}

/**************footer************/
